$black: #0C0E1A;
$white: #fff;

$grey: #EBEBEB;
$purple: #171934;
$red: #E02230;
$redBg: #EB3333;
$bgcolor: $white;
$pink: #FF005E;
$blue: #0039B8;
$blueVariant: #312783;


$orange: #ED951D;
$lightBlack: #434343;
