.dropdown {
  position: relative;

  &.button {
    padding: 0;
  }

  &__trigger {
    display: flex;
    justify-content: center;
    position: relative;
    background: transparent;
    color: $white;
    gap: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    border: 2px solid $orange;
    z-index: 5;
    transition: 0.2s box-shadow ease-in-out;
    border-radius: 30px;
    overflow: hidden;

    svg {
      .open & {
        transform: rotate(180deg);
      }
    }

    @media (max-width: $tablet) {
      font-size: 2rem;

      &:hover {
        color: $white;
        background-color: $purple;

      }
    }
  }

  &__list {
    list-style: none;
    padding: 3rem 0.8rem 1.5rem;
    margin: 0;
    border-radius: 30px;
    background-color: $purple;
    overflow: hidden;

    &--small {
      .dropdown__link {
        font-size: 2.5rem;
        line-height: 3.6rem;
      }
    }

    @media(max-width: $tablet) {
      padding: 3rem 0 1.5rem;
    }

    @media(max-width: $mobile) {
      background-color: $orange;
      padding: 0.5rem 0 3.5rem;
      border-radius: 15px;
    }


  }

  &__item {
    @media(max-width: $tablet) {
      font-size: 26px;
    }
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1;
    font-family: $mossport;
    color: $white;
    text-decoration: none;
    transition: 0.1s all ease-in;
    border-radius: 30px;

    @media (max-width: $tablet) {
      font-size: 2.4rem;
      line-height: 1.3;
    }

    @media (max-width: $mobile) {
      font-size: 2.2rem;
    }

    &:hover {
      font-weight: 700;
      background-color: $red;
      color: $white;

      @media (max-width: $mobile) {
        background-color: $black;
      }
    }
  };

  &__content {
    position: absolute;
    width: 100%;
    top: 2.5rem;
    z-index: 4;
    overflow: hidden;
    max-height: 4rem;
    display: none;
    border-radius: 30px;

    .dropdown.open & {
      overflow: visible;
      display: block;
    }

    @media(max-width: $tablet) {
      top: 1.5rem;
    }

    @media (max-width: $mobile) {
      bottom: 0;
      top: auto;
      background-color: $red;
      border-radius: 15px;
    }

    .dropdown.open & {
      max-height: 100rem;
    }

  }
}
