.locations {
  position: relative;
  padding: 11.9rem 0 10rem;

  @media (max-width: $tablet) {
    padding: 11.9rem 0 0;
  }

  @media (max-width: $mobile) {
    padding: 3.9rem 0 0;
  }

  &__decor {
    position: absolute;
    top: 10rem;
    right: 15.5rem;
    z-index: -1;
    user-select: none;

    @media (max-width: 1750px) {
      right:-10rem;
    }

    @media (max-width: $laptop) {
      right: -32rem;
    }
  }

  &__decor-left {
    position: absolute;
    top: -67rem;
    left: 0;
    z-index: -1;
    user-select: none;
  }

  &__title {
    margin: 0 0 4.4rem;
  }

  &__description {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.6rem;
    line-height: 1.1;
    margin: 0 0 8rem;
  }

  &__thumbs {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin: 0 0 3.8rem;

    @media (max-width: $mobile) {
      gap: 0.5rem;
    }
  }

  &__thumb {
    font-family: $mossport;
    text-transform: uppercase;
    color: $white;
    border: 2px solid $white;
    border-radius: 30px;
    padding: 1rem 1.6rem;
    background: transparent;
    font-size: 3rem;
    line-height: 0.65;
    cursor: pointer;

    &.is-active {
      background-color: $red;
      border-color: $red;
      cursor: auto;
    }

    @media (max-width: $mobile) {
      font-size: 2rem;
      padding: 1rem;
      border-radius: 15px;
      line-height: 1;
    }
  }

  &__tab {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    font-size: 5rem;
    color: $white;
    text-transform: uppercase;
    font-family: $mossport;
    gap: 3.2rem;
    padding-top: 3.9rem;
    cursor: pointer;

    @media (max-width: $mobile) {
      font-size: 4rem;
      line-height: 1;
      padding-top: 2rem;
    }
  }

  &__tab-item {
    padding-bottom: 3.9rem;
    border-bottom: 2px solid $white;

    &:last-child {
      border-bottom: none;
    }

    @media (max-width: $mobile) {
      padding-bottom: 2rem;
    }
  }

  &__tab-content {
    display: none;
    padding-top: 4.2rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.1rem;

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }

    &--1 {
      grid-template-columns: repeat(1, 1fr);
    }

    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    .is-item-active & {
      display: grid;
    }

    @media (max-width: $tablet) {
      gap: 2rem;
      grid-template-columns: repeat(2, 1fr);

      &--1 {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--slider {
      align-items: center;
      gap: 2.4rem;
      padding: 3.2rem 6.8rem 0;

      .is-item-active & {
        display: flex;
      }

      @media (max-width: $tablet) {
        padding: 3.4rem 0 0;
        gap: 1rem;
      }

      @media (max-width: $mobile) {
        .locations__card {
          width: 27rem
        }
      }
    }

    @media (max-width: $mobile) {
      position: relative;
      margin: 0 -1.6rem;
      padding: 2rem 1.6rem 0;
      overflow-x: auto;
      overflow-y: visible;
      flex-wrap: nowrap;
      grid-template-columns: repeat(4, 1fr);

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
      }

      .is-item-active & {
        display: flex;
      }

      &--slider {
        padding: 3.4rem 0 0;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    border-radius: 30px;
    background-color: $purple;
    padding: 2.6rem;
    color: $white;

    &--no-register {
      .locations__card-link {
        display: none;
      }

      .locations__no-register {
        display: block;
      }
    }

    @media (max-width: $tablet) {
      padding: 1.8rem;
    }
  }

  &__no-register {
    display: none;
    margin-top: 0.8rem;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;

  }

  &__card-title {
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.01;
    margin: 0 0 1.5rem;
    text-align: center;

    @media (max-width: $tablet) {
      font-size: 2.4rem;
    }
  }

  &__card-text {
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.1;
  }

  &__card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    width: 20.7rem;
    margin: 0 auto;

    @media (max-width: $tablet) {
      width: 17.8rem;
    }
  }

  &__card-time {
    font-family: $mossport;
    text-transform: uppercase;
    width: 100%;
    padding: 0.6rem 0;
    border: 2px solid $orange;
    border-radius: 30px;
    text-align: center;
    font-size: 2.5rem;
    line-height: 0.92;

    p {
      margin: 0;
    }
  }

  &__card-image {
    margin: 0 0 1.8rem;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__card-link {
    display: block;
    background-color: $orange;
    color: $white;
    font-size: 1.6rem;
    width: 100%;
    border-radius: 30px;
    padding: 0.3rem 1.6rem;
    text-align: center;
    text-decoration: none;
  }

  &__arrow {
    transform: rotate(180deg);
    user-select: none;

    .is-item-active & {
      transform: rotate(0);
    }

    @media (max-width: $mobile) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__slider-arrow {
    flex-shrink: 0;

    @media (max-width: $tablet) {
      width: 3rem;
      height: 3rem;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .swiper-container {
    @media (max-width: $mobile) {
      padding-right: 1.6rem;
    }
  }

  &__slider-wrapper {
    // display: flex;
    // align-items: center;

    @media (max-width: $mobile) {
      display: flex;
      gap: 1rem;
      overflow: auto;
      padding: 0 1.6rem;
      margin-right: 1.6rem;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
      }
    }
  }

}
