.partners {
  padding: 9.8rem 0 10rem;

  @media (max-width: $mobile) {
    padding: 4.8rem 0 10rem;
  }

  &__titile {
    margin: 0 0 11rem;
  }

  .container {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -1.2rem;
    right: -13.2rem;
    z-index: -1;
    user-select: none;

    @media (max-width: $laptop) {
      top: 4.8rem;
      width: 62%;
    }

    @media (max-width: $tablet) {
      top: 8.8rem;
      width: 57%;
    }

    @media (max-width: $mobile) {
      top: 7.8rem;
      width: 34rem;
    }
  }

  &__logos {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;

    @media (max-width: $mobile) {
      gap: 2rem;
    }
  }

}
